In [2]:
import numpy as np

In [3]:
# Here we create a list and convert into array

lst = [1,2,3,4]

In [5]:
arr=np.array(lst)

In [6]:
arr

array([1, 2, 3, 4])

In [7]:
# Type of array

type(arr)

numpy.ndarray

In [8]:
# Shape of array
arr.shape

(4,)

In [ ]:
# (4,) that means is one dimensional

In [10]:
# create another array

arr1=np.array([[1,2,3],[4,5,6]])

In [11]:
arr1

array([[1, 2, 3],
       [4, 5, 6]])

In [12]:
type(arr1)

numpy.ndarray

In [13]:
arr1.shape

(2, 3)

In [ ]:
# (2,3) that means two raw and 3 column

In [14]:
# change the shape
arr1.reshape(3,2)

array([[1, 2],
       [3, 4],
       [5, 6]])

In [15]:
np.arange(1,10)

array([1, 2, 3, 4, 5, 6, 7, 8, 9])

In [16]:
np.arange(1,10,2)
# Here 2 is step size

array([1, 3, 5, 7, 9])

In [19]:
np.linspace(1,20,40)

array([ 1.        ,  1.48717949,  1.97435897,  2.46153846,  2.94871795,
        3.43589744,  3.92307692,  4.41025641,  4.8974359 ,  5.38461538,
        5.87179487,  6.35897436,  6.84615385,  7.33333333,  7.82051282,
        8.30769231,  8.79487179,  9.28205128,  9.76923077, 10.25641026,
       10.74358974, 11.23076923, 11.71794872, 12.20512821, 12.69230769,
       13.17948718, 13.66666667, 14.15384615, 14.64102564, 15.12820513,
       15.61538462, 16.1025641 , 16.58974359, 17.07692308, 17.56410256,
       18.05128205, 18.53846154, 19.02564103, 19.51282051, 20.        ])

In [20]:
np.zeros(10)

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

In [21]:
np.ones(10)

array([1., 1., 1., 1., 1., 1., 1., 1., 1., 1.])

In [22]:
np.ones((3,5))

array([[1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.]])

In [23]:
# if we 5 in above array

5 + np.ones((3,5))

array([[6., 6., 6., 6., 6.],
       [6., 6., 6., 6., 6.],
       [6., 6., 6., 6., 6.]])

In [24]:
# if we add 10
10 + np.ones((5,3))

array([[11., 11., 11.],
       [11., 11., 11.],
       [11., 11., 11.],
       [11., 11., 11.],
       [11., 11., 11.]])

In [ ]:
# that means board cast

In [25]:
# Identity Matrix

np.eye(4)

array([[1., 0., 0., 0.],
       [0., 1., 0., 0.],
       [0., 0., 1., 0.],
       [0., 0., 0., 1.]])

In [ ]:
# Here all diagonal is 1 and other is 0

In [26]:
np.eye(10)

array([[1., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 1., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 1., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 1., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 1., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 1., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 1., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 1.]])

In [27]:
# It is just randon number generation(unfirom distribution)

np.random.rand(2,3)

array([[0.68309426, 0.33006766, 0.82909467],
       [0.30434365, 0.32228567, 0.72598293]])

In [28]:
np.random.rand(2,3)

array([[0.85606765, 0.21929352, 0.47001057],
       [0.98643738, 0.83072574, 0.33904039]])

In [32]:
# Another way to create random number
np.random.randint(1,100)

98

In [ ]:
# what is happening here
# if we run again and again then it will output again and again different number between 1 to 100

In [ ]:
# slicing

In [35]:
arr2=np.random.randint(1,100,(4,4))

In [36]:
arr2

array([[75, 70, 27, 16],
       [34, 23, 66, 46],
       [73, 42,  4, 98],
       [ 8, 15, 47, 84]])

In [37]:
arr[2:]

array([3, 4])

In [39]:
arr[2:7]

array([3, 4])

In [40]:
arr[-1]

4

In [41]:
# another array

arr3 = np.random.randint(2,200,20)

In [42]:
arr3

array([ 36,  24,  69, 107,   3,  76,  12,  86,  68, 195,  86,  66, 134,
       177, 159, 127,  39,  74,  61,  30])